<div
    class="d-flex flex-column align-items-center  card"
    style="background-color: rgba(0, 0, 255, 0.1)"
>
    <div class="py-0"><strong><span>{{ titre }}</span></strong></div>
    <div  class="d-flex flex-column align-items-center py-0" style="height: 100%;" >
        <div [ngClass]="{'deep-orange-text': valeur < 0, 'teal-text': valeur >= 0, 'black-text': neutre}">
            <span *ngIf="type=='currency'" >{{ valeur | currency:'EUR':'symbol':'1.2-2' }}</span>
            <span *ngIf="type=='date'" >{{ valeur  }}</span>
            <span *ngIf="type=='number'" >{{ valeur | number: '.2-8' }}</span>
            <span *ngIf="type=='string'" >{{ valeur  }}</span>
        </div>
        <div class="d-flex" *ngIf="variationPourcentage || variationValeur" [ngClass]="{'deep-orange-text': variationNegative(), 'teal-text': !variationNegative() }">
            <div>
                <span *ngIf="variationNegative()" class="material-icons variation-icon">arrow_drop_down</span>
                <span *ngIf="!variationNegative()" class="material-icons variation-icon">arrow_drop_up</span>
            </div>
            <div class="variation-font">
                <span *ngIf="typeVariation=='pourcentage'">{{ variationPourcentage | number: '1.2-2' }}</span>
                <span *ngIf="typeVariation=='valeur'">{{ variationValeur | number: '1.2-2' }}</span>
                <span *ngIf="typeVariation=='pourcentage'">%</span>
            </div>
        </div>
    </div>
</div>
